body{
width: 70%;
margin: auto;
background: #363636;
background-size: contain;
}

.frame{
background-color: white;
margin: 5% auto;
}

h1{
padding: 3% 1% 1% 1%;
color: black;
}

h3{
width: 90%;
margin: 3% auto 0%;
}

hr{
width: 90%;
  margin-top: 0em;
  margin-bottom: 1em;
direction: none;
border-color: black;

}

td{
/* background: yellow; */
align-items: center;
width: 400px;
}

.personal{
width: 90%;
border-collapse: collapse;
align-items: center;
padding: 0%;
border: 1px solid black;
}

.info{
width: 80%;
margin: auto;
}

ul.role{
 list-style-type: disc;
}

.end{
padding-bottom: 10%;
}
